
<div class="h-full">
    @if (!isLoggedIn()) {
        <button
            (click)="login()"
            class="flex items-center h-full p-4 border hover:bg-slate-400 hover:border-slate-800"
        >
            Se connecter avec Discord
        </button>
    } @else {
        <div class="flex items-center gap-4">
            <img [src]="avatarUrl()" alt="Avatar" class="w-8 h-8 border rounded-full" />
            <span> {{ globalName() }} </span>
            <button (click)="logout()" class="text-red-500 hover:underline">Logout</button>
        </div>
    }
</div>

<!-- <div class="md:hidden">
    <button type="button" class="hs-collapse-toggle size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-200 text-black hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-neutral-700 dark:hover:bg-neutral-700" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
    <svg class="flex-shrink-0 hs-collapse-open:hidden size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="3" x2="21" y1="6" y2="6" />
        <line x1="3" x2="21" y1="12" y2="12" />
        <line x1="3" x2="21" y1="18" y2="18" />
    </svg>
    <svg class="flex-shrink-0 hidden hs-collapse-open:block size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
    </svg>
    </button>
</div> -->
